.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #060842e1;
  color: #fff;
  width: 450px;
  top: 100%;
  left: 50%;
  margin-left: -225px;
  margin-top: 20px;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  backdrop-filter: blur(3px);
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

@media(max-width: 1000px) {
  .tooltip:hover .tooltiptext {
    visibility: hidden;
    width: 0px;
    height: 0px;
    font-size: 0px;
  }
  .tooltip .tooltiptext::after {
    content: "";
    width: 0px;
    height: 0px;
  }
}