.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  backdrop-filter: blur(3px);
  background-color: #06084291;
  position: fixed;
  top: 0;
  padding: 0.5rem 12rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.header_nav_first {
  margin: 0;
  padding: 0 0.5rem;
}

.header_nav_second {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.header_nav_second h4 {
  font-weight: 300;
  position: relative;
  padding: 0 0.5rem;
}

.header_nav_second a:hover {
  transform: translateY(-0.3rem);
  transition: 0.3s;
}

.header_nav_third {
  margin: 0;
  padding: 0 0.5rem;
}

.main {
  margin-top: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 7rem;
  margin: 1rem 0 0 0;
  line-height: 1.15;
  font-family: Goldman;
  animation: transitionIn 2s;
}

.description {
  margin: 0;
  animation: transitionIn 2s;
  font-size: 3rem;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.div_divisor {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.divisor_dot {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 8px;
}

.divisor_line {
  align-self: center;
  background-color: white;
  width: 160px;
  height: 2px;
  margin: 0 8px;
}

.video_div {
  margin: 1rem 0;
  width: 630px;
  height: 472px;
}

.div_divs_infos {
  margin-top: 40%;
}

.div_divs_infos div {
  align-items: center;
  margin: 10rem 0;
  word-spacing: 2px;
}

.div_divs_infos h1 {
  padding: 1.2rem 0;
}

.div_divs_infos p {
  padding: 0 0.6rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 160px;
  background-color: #050735;
}

.footer_first, .footer_sec, .footer_thirdy {
  padding: 4rem;
}

.footer_first {
  margin: 4rem 0;
}

.footer_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_first a:hover, .footer_sec a:hover {
  opacity: 0.6;
  transition: 0.4s;
}

.icons {
  font-size: 2.5rem;
  margin: 0.5rem;
}

.footer_thirdy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_contato_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25px;
  background-color: #020325;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.footer_footer p {
  padding: 0 12px;
}

@media (max-width: 680px) {
  .header {
    padding: 0.5rem 6rem;
  }
  .video_div {
    width: 378px;
    height: 283px;
  }
}

@media (max-width: 420px){
  .video_div {
    width: 226px;
    height: 169px;
  }
}

@media (max-width: 430px) {
  .header {
    padding: 0.5rem 4rem;
  }
  .divisor_line {
    width: 60px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer_first, .footer_sec, .footer_thirdy {
    margin: 0;
    padding: 0;
  }
  .footer_first {
    margin-top: 12px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

/**/